# Try random forest implementation

By Patricia

I'm going to follow the [tutorial by Alexis Cook](https://www.kaggle.com/alexisbcook/titanic-tutorial).

# Set up notebook

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from matplotlib.colors import Normalize
import seaborn as sns
sns.set(style='ticks')
import os
import sys

In [2]:
data_dir = r'../datar/'
os.listdir(data_dir)

['gender_submission.csv', 'test.csv', 'train.csv']

In [3]:
sys.path.append('../scripts/')
import titanic_plot as titanic_plot

%load_ext autoreload
%autoreload 2

# Import the data

Just like in the data exploration notebook, create some columns to represent `Embarked` and `Sex` quantitatively.

In [5]:
train_df = pd.read_csv(os.path.join(data_dir,'train.csv'))

Embarked_dict = {'C':0,'Q':1,'S':2}
Sex_dict = {'male':0,'female':1}

train_df['Embarked_num'] = train_df['Embarked'].map(Embarked_dict)
train_df['Sex_num'] = train_df['Sex'].map(Sex_dict)
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Embarked_num,Sex_num
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,2.0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0.0,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,2.0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2.0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,2.0,0

In [23]:
test_df = pd.read_csv(os.path.join(data_dir,'test.csv'))

Embarked_dict = {'C':0,'Q':1,'S':2}
Sex_dict = {'male':0,'female':1}

test_df['Embarked_num'] = test_df['Embarked'].map(Embarked_dict)
test_df['Sex_num'] = test_df['Sex'].map(Sex_dict)
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Embarked_num,Sex_num
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,1,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,2,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,1,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,2,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,2,1

# Explore a pattern: Gender

What is the likelihood of survival for female passengers?

In [15]:
mask_female = (train_df['Sex_num'] == 1)
female_survived = train_df.loc[mask_female,'Survived']
print('fraction of women who survived:', 
      sum(female_survived)/len(female_survived))

fraction of women who survived: 0.7420382165605095

In [16]:
mask_male = (train_df['Sex_num'] == 0)
male_survived = train_df.loc[mask_male,'Survived']
print('fraction of men who survived:', 
      sum(male_survived)/len(male_survived))

fraction of men who survived: 0.18890814558058924

# Start the first machine learing model

Following the tutorial, only use data from four columns: `Pclass`, `Sex`, `SibSp`, and `Parch`.

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [30]:
y = train_df['Survived']
features = ['Pclass','Sex_num','SibSp','Parch']
X_train = train_df[features] # Alexis uses the `get_dummies` feature to convert the sex to a number column. I've already done that with a different method so I am going to try my method.
X_test = test_df[features]

In [31]:
model = RandomForestClassifier(n_estimators=100,
                               max_depth=5,
                               random_state=1)
model.fit(X_train,y)
predictions = model.predict(X_test)

In [32]:
test_df.shape

(418, 13)

In [34]:
output = pd.DataFrame({'PassengerId':test_df['PassengerId'],'Survived':predictions})
output.to_csv(r'../datap/submission_pfs_rf.csv',index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [35]:
os.listdir('../datap')

['submission_pfs_rf.csv']

Now try submitting this to kaggle. I did a manual upload on the submissions page. This got me a score of 0.76076.